*{
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-size: 18px;
}
li{
    list-style: none;
}
header{
    padding-top: 15px;
    padding-bottom: 15px;
}
header button{
    margin: 5px;
}
.hide-animation{
    border:1px green solid;
    opacity: 0;
    transition: opacity 1s;
}
.hidden{
    display: none;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.img-block{
    width: 100px;
    height: 100px;
    margin: 5px;
}
.selected{
    border-color: rgb(53, 110, 143);
    border-width: 3px;
    border-style: solid;
}
.theme__btn--red,.theme__btn--blue,.theme__btn--white {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

button, input[type="button"], .score__list li{
    border-width: 0;
    font-size: 18px;
}
button, input[type="button"]:hover{
    cursor: pointer;
}
body{
    text-align: center;
}

.red button, .red input[type="button"],.red .score__list li{
    background-color: #fff;
    color: #f183b3;
}
.blue button, .blue input[type="button"], .blue .score__list li{
    background-color: #51616e;
    color: #fff;
}
.blue button, .blue input[type="button"]:hover{
    background-color: #3d4d5a;
}
.white button, .white input[type="button"], .white .score__list li{
    background-color: rgb(184, 181, 181);
    color: black;
}
.red button, .red input[type="button"]:hover{
    background-color: #e6e6e6;
}
.white button, .white input[type="button"]:hover{
    background-color: rgb(148, 144, 144);
    color: black;
}

.red {
    background-color: #f6aecd;

    color: #fff;

}
.blue {
    background-color: #add5f3;
    color: #455765;;
}
.white {
    background-color: rgb(255, 255, 255);
    color: black;

}
.level-1{
    width: 80%;
    margin: 0 auto;
    
}
.level-1__text{
    font-size: 20px;
  
}
.level__first-row{
    font-size: 24px;
    margin: 5px;
}
.level__score-row{
    font-size: 24px;
    margin: 5px;
}
.level-1__lives, .level-1__time, .level-1__score{
    border: 1px solid #000;
    font-weight: bold;
    padding: 5px;
    
}
.level-1__lives{
 color: rgb(248, 39, 39);
}
.level-1__time{
    color: rgb(253, 236, 0);
}
input[type="text"]{
    width: 100px;
    height: 20px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;

}
button.theme__btn--blue{
    background-color: rgb(115, 160, 243);
    color: chartreuse;
}
button.theme__btn--white{
    background-color: rgb(255, 255, 255);
    color: black;
}

button.theme__btn--red {
    background-color: rgb(238, 156, 156); 
    color: #000;

}

.wrapper__menu{
    width: 100%;
    
}

input[type="button"]{
    width: 180px;
    height: 40px;
    margin: 10px;
}

img.move1  {

    position: relative;
    animation: mymove 2s infinite;
  }
  img.move2  {

    position: relative;
    animation: mymove 4s infinite;
  }
   img.move3 {

    position: relative;
    animation: mymove2 2s infinite;
  }
   img.move4 {

    position: relative;
    animation: mymove2 4s infinite;
  }

  @keyframes mymove {
    0% {top: 0px;}
    50% {top: 200px;}
    100% {top: 0px;}
  }
  @keyframes mymove2 {
    0% {left: 0px;}
    50% {left: 200px;}
    100% {left: 0px;}
  }

  .text__attempt{
      position: absolute;
      display: none;
      bottom: 0;
      left: 45%;
  }

  aside{
      border: 2px solid #000;
      padding: 10px;
  }
  .score__list li{
      margin: 2px;
      
  }

  h3.fail{
      color: red;
      display: flex;
      animation: movetext 0.8s;

  }
  h3.right{
    color: green;
    display: flex;
    animation: movetext 0.8s;
}

  @keyframes movetext {
    0% {bottom: 0px;}
    50% {bottom: 300px;}
    100% {bottom: 400px;}
  }
  .pre-start{
    display: none;
}
.instruction{
    width: 300px;
}
.level-special__word{
    font-size: 28px;
    font-weight: 700;
}
.level-special__word .red-letter{
    color: red;
}

  .hider{
      display: flex;
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: rgb(103, 180, 180);
      color: rgb(207, 119, 57);
      font-size: 32px;
      text-align: center;
      align-items: center;
      justify-content: center;
      z-index: 999;

  }


.answer {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid saddlebrown;
    position: absolute;
    top: 70%;
    left: 45%;
}

.letters__list{
    display: flex;
    justify-content: center;
}

.letters__list li{
    font-size: 40px;
    width: 60px;
    height: 60px;
    margin: 5px;
    background: coral;
}

.level__first-row{
    display: flex;
    justify-content: space-between;
}
.level__score-row{
    display: flex;
    justify-content: space-between;
}

.main-wrapper{
    width: 80%;
    margin: 0 auto;
}


